<!-- <p>employee-details works!</p> -->
<h2>Employee Details</h2>
<table id="employees">
    <tr>
        <th>Employee Id : </th>
        <td>{{employee.employeeId}}</td>
    </tr>
    <tr>
        <th>Employee Name : </th>
        <td>{{employee.employeeName}}</td>
    </tr>
    <tr>
        <th>Contact : </th>
        <td>{{employee.contactNumber}}</td>
    </tr>
    <tr>
        <th>Email : </th>
        <td>{{employee.email}}</td>
    </tr>
    <tr>
        <th>Address : </th>
        <td>{{employee.address}}</td>
    </tr>
    <tr>
        <th>Employee Status : </th>
        <td>{{employee.employeeStatus}}</td>
    </tr>
</table>
<br>
<button (click)="goToHome()">Back To Home</button>
<br>